{{!< default}}

<img width="100%" src="http://i.imgur.com/IKLempx.jpg" alt="me and my wife"></img>
<div class="container">
	<div class="row">
	  <div class="col-lg-8 col-lg-offset-2">		
		<h3>I am a husband, developer, musician and entrepreneur.</h3>
		<p>
		I have been a married man since February of 2014, working in software development since April of 2010, and trying to finish a bachelor's degree since 2008 (it's a long story). I love my wife, my church, my job, discussing ideas and building solutions.
		</p>
		<p>
		Most of my days are spent doing software development for <a href="http://liveqos.com" alt="LiveQoS HQ">LiveQoS Inc</a>. The bulk of that time is spent on web and mobile projects and some of it is spent on network drivers and operating system services. I lead a small team so I do everything from product design to marketing to SEO to development. It's a good time and I'm fourtunate to have a job where I have the opportunity to influence and be influenced every day.
		</p>
		<p>
		I believe diversly investing <strong>time</strong> is a good thing, so I always try to keep a few interesting side projects going when I can. Being involved in a wide variety of projects keeps me learning and expanding my experience and connections. Eventually I hope to take all I've learned and focus on an area that maximizes my output, but for now I'm still focused on input. Recently I've been working with the great teams at <a href="http://gohabitat.com/" alt="My first home automation project and Kickstarter!">Habitat</a>, <a href="http://hcfcornwall.ca" alt="My church">Harvest Christian Fellowship</a>, <a href="http://roomeaseapp.com" alt="Make living simpler">Roomease</a> and <a href="http://g24hockey.com/" alt="Improve your hockey game">G24 Hockey</a>.
		</p>
		<p>
		If you're interested in what I like to read, check out my list of <a href="http://ryanbrink.com/books" alt="Books!">books</a>.
		</p>
		<p>
		Some specific products I've been working on recently:
			<ul>
				<li> <a href="http://www.ryanbrink.com/ga-today" alt="Google Analytics widget for iOS. The first and only!">GA.TODAY</a> – a simple iOS widget that shows you Google Analytics statistics on your today screen</li>
				<li> <a href="http://www.superbe.am/" alt="SuperBeam is free and awesome">SuperBeam</a> – a super-handy mobile (and desktop) file sharing application</li>
				<li> <a href="http://www.supertcp.com" alt="I had a lot of fun building the backend for SuperTCP">SuperTCP</a> – a client application for Windows and OS X that helps accelerate up internet uploads</li>
				<li> <a href="http://www.liveinsight.io">LiveInsight</a> – network performance monitoring for your cloud-based SaaS</li>
				<li> <a href="http://www.heyjaneapp.com">Hey Jane</a> – a geo-centric messaging application (source code <a href="https://github.com/ryno2019/HeyJane_iOS/" alt="Get the source on GitHub!">here</a>)</li>
			</ul>
			<a href="javascript:void(0);" onclick="olark('api.box.expand')">Click here</a> if you'd like to contact me.
		</p>
    </div>		
  </div>
</div>
