<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">
  {{> head}}
  <body>  	
    {{> header}}
	<div id="ww">	    
	    {{{body}}}
	</div>
  <div id="foot">
    {{> footer}}
  </div>
  {{ghost_foot}}
  </body>
</html>
