<!DOCTYPE HTML>
<html>
    <head>      
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('4419-189-10-1129');/*]]>*/</script><noscript><a href="https://www.olark.com/site/4419-189-10-1129/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/jquery.scrollgress.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/skel-layers.min.js"></script>
        <script src="/assets/js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="/assets/css/skel.css" />
            <link rel="stylesheet" href="/assets/css/style.css" />
            <link rel="stylesheet" href="/assets/css/style-wide.css" />
            <link rel="stylesheet" href="/assets/css/style-noscript.css" />
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
        
        <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 500);
                return false;
              }
            }
          });
        });
        </script>   


    <!-- Place this data between the <head> tags of your website -->
    <title>Easter 2016 at Harvest</title>
    <meta name="description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Easter 2016 at Harvest">
    <meta itemprop="description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario">
    <meta itemprop="image" content="http://www.example.com/image.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hcfcornwall">
    <meta name="twitter:title" content="Easter 2016 at Harvest">
    <meta name="twitter:description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario">
    <meta name="twitter:creator" content="@hcfcornwall">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.example.com/image.html">

    <!-- Open Graph data -->
    <meta property="og:title" content="Easter 2016 at Harvest" />
    <meta property="og:type" content="Event" />
    <meta property="og:url" content="http://www.ryanbrink.com/harvest_easter/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario" />
    <meta property="og:site_name" content="Easter 2016 at Harvest" />
    <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
    <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
    <meta property="article:section" content="Article Section" />
    <meta property="article:tag" content="Article Tag" />
    <meta property="fb:admins" content="Facebook numberic ID" />

    </head>
    <body class="index">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54165405-1', 'auto');
      ga('send', 'pageview');

    </script>       <!-- Header -->
        <a name="top"></a>
        <header id="header" class="alt">
            <!-- <h1 id="logo"><a href="http://www.hcfcornwall.ca/"><img src="/assets/img/harvest_white.png" style="width: 10em"></a></h1> -->
            <nav id="nav">             
                <ul>                    
                  <li><a href="http://www.hcfcornwall.ca" class="button special">Home</a></li>
                  <li><a href="#nav_when" class="button special">When</a></li>
                  <li><a href="#nav_where" class="button special">Where</a></li>
                </ul>
            </nav>
        </header>           
        
        <!-- Banner -->     
            <section id="mos">            
                <div class="inner">
                    <header>
                        <p><img src="../assets/img/easter_words.png" style="max-width:400px;" id="easterImage"></p>
                    </header>                    
                </div>                
            </section>


    <p>&nbsp;</p>  

    <section id="nav_what" class="cta" style="background-image: url('/assets/img/overlay.png'), url('../assets/img/roy.jpg'); background-position: top left, center center;">
            
                <header>
                    <p>Easter is a celebration of Jesus' life and what He did for us over 2,000 years ago. We believe that not only was Jesus God on Earth, but that His death on the cross made a way for us to live a new life.</p>
                    <p>
                    He is making <strong style="font-weight: 700;">all things new</strong>, starting with us.</p>          
                </header>
            </section>            
            
    <section class="wrapper style1 container special">
            <p>&nbsp;</p>
      <header class='special' id="nav_when">    
                        <span class='icon fa-calendar'></span>
                        <h2>Sunday, March 27</h2>
                        <h2><strong>9:00 &nbsp; 10:30 &nbsp; 12:00</strong></h2>
        </header>
    </section>
                    
            <section class="cta" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/next-gen.jpg'); background-position: top left, center center;">
                <header>
                    <h2>Kids</h2>
                    <p>Kids programs are available from birth to 5th grade at all Easter services. <br />
                    <br />
                    Harvest provides uniquely designed kids programs with your child in mind. <br />
                    Kids experience safe, age-appropriate environments where the Bible is <br />
                    taught in a creative and relevant way.</p>
                </header>
            </section>
            
            <p>&nbsp;</p>
            
            <section class="cta" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/worship-sunday.jpg'); background-position: top left, bottom center;">
                        <header>
                            <h2>What to Expect</h2>
                            <p>We understand how intimidating it can be going to a new church. <br />
                            That's why we do our best to make our services as welcoming to our guests as we can.<br />
<br />
                            Services at Harvest are exciting, casual and relaxed. Come as you are! <br />
                            You can expect to feel welcomed, experience good music, and <br />
                            an engaging message from our lead pastor Roy Stephenson.</p>
                        </header>
                    </section>
                    
            <p>&nbsp;</p>
            
            
            <section id="nav_where" class="cta" style="background-image: url('/assets/img/overlay.png'), url('../assets/img/google-map-2.jpg'); background-position: top left, center center;">
            
                <header>
                    <h2>Location</h2>
                    <h3><strong>Harvest Christian Fellowship</strong></h3>
                    <p style="padding-bottom:0em; margin-bottom:0em;">847 York Street</p><p>Cornwall, Ontario, K6J 4A7</p>
                </header>
                <footer>
                    <ul class="buttons">
                        <li><a target="_blank" href="https://www.google.com/maps/place/Harvest+Christian+Fellowship/@45.0273429,-74.7408283,17z/data=!3m1!4b1!4m2!3m1!1s0x4ccc175f448ddb45:0xae6f3273372eb42" class="button"><span class="icon fa-arrow-right"></span> Get Directions</a></li>
                    </ul>
                </footer>
            </section>
            
       
                <p>&nbsp;</p>
                            
               
<section class="cta" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/blog_news.jpg');">
    <header>
        <h2>Stay in Touch</h2>
        <p>Find out what's going on around Harvest<br /> and what God is doing in our church.</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="https://www.facebook.com/hcfcornwall" class="button">Read</a></li>
        </ul>
    </footer>
</section>      

        <!-- Main -->
  
        <!-- Footer -->    
            <footer id="footer">
    
        <ul class="icons">        
            <li><a target="_blank" href="https://www.facebook.com/hcfcornwall" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a target="_blank" href="https://www.instagram.com/hcfcornwall/" class="icon circle fa-instagram"><span class="label">Instragram</span></a></li>
            <li><a target="_blank" href="https://twitter.com/hcfcornwall" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a target="_blank" href="https://vimeo.com/hcfcornwall" class="icon circle fa-vimeo-square"><span class="label">Vimeo</span></a></li>
            <li><a target="_blank" href="https://hcfcornwall.ccbchurch.com/form_response.php?id=31" class="icon circle fa-envelope"><span class="label">Email</span></a></li>       
        </ul>
        <ul class="copyright" style="padding-top:1em;">
            <li><a href="http://www.hcfcornwall.ca/" style="border-bottom:none;"><img src="/assets/img/harvest_dark_grey.png" style="height: 3em;"></a></li>
        </ul>
        <ul class="copyright">
            <li>847 York Street</li>
            <li>Cornwall, Ontario, K6J 4A7</li>
            <li>Phone: (613) 932-7320</li>
        </ul>
        <ul class="copyright">
            <li>Copyright &copy; 2016 Harvest Christian Fellowship</li>
            <li>All rights reserved</li>
        </ul>
    
    </footer>   

    </body>
</html>