<!DOCTYPE HTML>
<html>
	<head>		
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/skel-layers.min.js"></script>
		<script src="/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/assets/css/skel.css" />
			<link rel="stylesheet" href="/assets/css/style.css" />
			<link rel="stylesheet" href="/assets/css/style-wide.css" />
			<link rel="stylesheet" href="/assets/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
        
        <script>
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html,body').animate({
				  scrollTop: target.offset().top
				}, 2000);
				return false;
			  }
			}
		  });
		});
		</script>	


    <!-- Place this data between the <head> tags of your website -->
    <title>Easter 2016 at Harvest</title>
    <meta name="description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Easter 2016 at Harvest">
    <meta itemprop="description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario">
    <meta itemprop="image" content="http://www.example.com/image.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hcfcornwall">
    <meta name="twitter:title" content="Easter 2016 at Harvest">
    <meta name="twitter:description" content="Page description less than 200 characters">
    <meta name="twitter:creator" content="@hcfcornwall">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.example.com/image.html">

    <!-- Open Graph data -->
    <meta property="og:title" content="Easter 2016 at Harvest" />
    <meta property="og:type" content="Event" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="Join us for our 2016 Easter services, right here in Cornwall, Ontario" />
    <meta property="og:site_name" content="Easter 2016 at Harvest" />
    <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
    <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
    <meta property="article:section" content="Article Section" />
    <meta property="article:tag" content="Article Tag" />
    <meta property="fb:admins" content="Facebook numberic ID" />

    </head>
	<body class="index">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54165405-1', 'auto');
  ga('send', 'pageview');

</script>		<!-- Header -->
        <a name="top"></a>
        <header id="header" class="alt">
            <!-- <h1 id="logo"><a href="http://www.hcfcornwall.ca/"><img src="/assets/img/harvest_white.png" style="width: 10em"></a></h1> -->
            <nav id="nav">             
                <ul>                	
                  <li><a href="http://www.hcfcornwall.ca" class="button special">Home</a></li>
                </ul>
            </nav>
        </header>	 		
		
		<!-- Banner -->		
			<section id="mos">
            
				<div class="inner">
					<header>
						<p><img src="../assets/img/easter_words.png" id="easterImage"></p>
                  	</header>
                    
				</div>
                
			</section>
            
    <section class="wrapper style1 container special">
            <p>&nbsp;</p>
      <header class='special'>	
                        <span class='icon fa-calendar'></span>
                        <h2>Sunday, March 27</h2>
                        <h2><strong>9:00 &nbsp; 10:30 &nbsp; 12:00</strong></h2>
                    </header>
					</section>
                    
                    <section id="recent-message" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/next-gen.jpg'); background-position: top left, center center; margin-top: 4em;">
                <header>
                    <h2>Kids</h2>
                    <p>Kids programs available for birth to 5th grade at all Easter services. <br />
                    <br />
                    Harvest provides uniquely designed kids programs with your child in mind! <br />
                    Kids experience safe, age-appropriate environments where the Bible is <br />
                    taught in a creative and relevant way.</p>
                </header>
            </section>
            
            <p>&nbsp;</p>
            
            <section id="cta" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/worship-sunday.jpg'); background-position: top left, bottom center;">
                        <header>
                            <h2>What to Expect</h2>
                            <p>We understand how intimidating it can be going to a new church. <br />
                            That's why we do our best to make our services as welcoming to our guests as we can.<br />
<br />
							Services at Harvest are exciting, casual and relaxed. Come as you are! <br />
                            You can expect to feel welcomed, experience good music, and <br />
                            an engaging message from our lead pastor Roy Stephenson.</p>
                        </header>
                    </section>
                    
                    <p>&nbsp;</p>
            
            
            <section id="cta" style="background-image: url('/assets/img/overlay.png'), url('../assets/img/google-map-2.png'); background-position: top left, center center;">
			
				<header>
                	<h2>Location</h2>
					<h3><strong>Harvest Christian Fellowship</strong></h3>
					<p style="padding-bottom:0em; margin-bottom:0em;">847 York Street</p><p>Cornwall, Ontario, K6J 4A7</p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a target="_blank" href="https://www.google.com/maps/place/Harvest+Christian+Fellowship/@45.0273429,-74.7408283,17z/data=!3m1!4b1!4m2!3m1!1s0x4ccc175f448ddb45:0xae6f3273372eb42" class="button"><span class="icon fa-arrow-right"></span> Get Directions</a></li>
					</ul>
				</footer>
			</section>
            
       
                <p>&nbsp;</p>
                            
               
<section id="cta" style="background-image: url('/assets/img/overlay.png'), url('/assets/img/blog_news.jpg');">
    <header>
        <h2>Blog & News</h2>
        <p>Find out what's going on around Harvest<br /> and what God is doing in our church.</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="http://www.hcfcornwall.ca/home/blog" class="button">Read</a></li>
        </ul>
    </footer>
</section>	    


     	<!-- Main -->
  
        <!-- Footer -->    
		    <footer id="footer">
    
        <ul class="icons">        
            <li><a target="_blank" href="https://www.facebook.com/hcfcornwall" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a target="_blank" href="https://www.instagram.com/hcfcornwall/" class="icon circle fa-instagram"><span class="label">Instragram</span></a></li>
            <li><a target="_blank" href="https://twitter.com/hcfcornwall" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a target="_blank" href="https://vimeo.com/hcfcornwall" class="icon circle fa-vimeo-square"><span class="label">Vimeo</span></a></li>
            <li><a target="_blank" href="https://hcfcornwall.ccbchurch.com/form_response.php?id=31" class="icon circle fa-envelope"><span class="label">Email</span></a></li>		
        </ul>
        <ul class="copyright" style="padding-top:1em;">
            <li><a href="http://www.hcfcornwall.ca/" style="border-bottom:none;"><img src="/assets/img/harvest_dark_grey.png" style="height: 3em;"></a></li>
        </ul>
        <ul class="copyright">
            <li>847 York Street</li>
            <li>Cornwall, Ontario, K6J 4A7</li>
            <li>Phone: (613) 932-7320</li>
        </ul>
        <ul class="copyright">
            <li>Copyright &copy; 2016 Harvest Christian Fellowship</li>
            <li>All rights reserved</li>
        </ul>
    
    </footer>	

	</body>
</html>