{{!< ga_today_template}}
<div class="hidden-xs hidden-sm">
	<img src="http://i.imgur.com/JXsHXX1.jpg" style="display:none;" />
	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><img src="http://i.imgur.com/ZScsB6K.jpg" width="100%" style="min- alt="GA.TODAY Google Analytics Widget Overview"></div>
	    <div class="item"><img src="http://i.imgur.com/EQOtKju.jpg" width="100%" style="min- alt="Wicked sick looking Google Analytics on your desktop"></div>
	    <div class="item"><img src="http://i.imgur.com/2JySdrT.jpg" width="100%" style="min- alt="The first and only Google Analytics widget for iOS"></div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
	</div> 
	<div class="navbar navbar-inverse navbar-fixed-top" style="display:none;">
	  {{> menu }}
	</div>
	
	<article class="{{post_class}}" id="main-content">  
	  	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
	  		<h1>Google Analytics Widget, now for your OS X desktop</h1>
	  		<h3>Put it in your OS X Today view for $1.99</h3>  	
	  		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
	  			<a href="https://itunes.apple.com/ca/app/ga.today-widget-for-google/id1006846646?mt=12&utm_content=bufferb0c88&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/ca/app/ga.today-widget-for-google/id1006846646?mt=12&utm_content=bufferb0c88&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer'); return false;" ><img width="100%" src="http://i.imgur.com/loSiRSc.png" alt="Get the OS X Google Analytics widget GA.TODAY now!" /></a> 	
	  		</div>
		</div>		
		
		<div class="col-xs-6 col-xs-offset-4 left" style="margin-top:15px;">
			<div class="col-md-3">
		    	<div class="fb-like" data-href="http://www.ryanbrink.com{{url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
			<div class="col-md-2">
				<div class="g-plusone" data-size="medium"></div>
			</div>
			<div class="col-md-2">
		    	<a href="https://twitter.com/share" class="twitter-share-button" data-via="ry_brink">Tweet</a>
		    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>    	
		</div>
			
	  	
		<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-justify">
			<h3  class="centered">Instant Access</h3>		
			<p>Finally you can access and compare key Google Analytics without opening up a bunch of browser tabs! GA.TODAY is the fastest and easiest way to get a brief overview of your website or mobile app's performance.</p>
			<h3  class="centered">Why I Built GA.TODAY</h3>
			<p>Basically, I use Google Analytics. A lot. As soon as I had more than a few sites and apps I was tracking I began to be frustrated by the fact that there was no easy way to view high-level metrics of multiple views quickly. GA.TODAY lets me view–with just one swipe–a ton of information about all the views I'm tracking.
			<h3  class="centered">Realtime Data</h3>
			<p>GA.TODAY automatically shows the number of currently active users for your site or app, but you can configure your view to show active users, conversions, conversion rate or page views.
			<h3  class="centered">Daily, weekly and monthly metrics</h3>	
			<p>GA.TODAY constantly retrieves the latest stats so you always have up to date information on your website or mobile app's:</p>	
			<ul>
				<li>Users</li>
				<li>New Users</li>
				<li>Page Views</li>
				<li>Conversions</li>
			</ul>
			<p>	
			For each metric enabled on each view you have instant access to daily, weekly and monthly totals as well as hour-by-hour and day-by-day graphs for the last month. You can also select any point on the graph to compare that day or hour's performance against the previous period. 	
			</p>
			<p>I'm working on adding more metrics, configuration options and visualizations to make GA.TODAY even more useful for all you analytics gurus.</p>
			<h3  class="centered">Referrals</h3>
			<p>GA.TODAY also makes it to see where your traffic is coming from, and breaks down each metric by referral source for your top 5 referrals.</p>
		</div>	
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
			<h2>Looking for mobile?</h2>
			<p>Get GA.TODAY Lite for free on iOS, or go Pro for $1.99</p>
	  		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
	  			<a href="https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8'); return false;" ><img width="100%" src="http://i.imgur.com/yVzo6tt.png" alt="Get the iOS Google Analytics widget GA.TODAY now!" /></a>
	  		</div>
	  		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
	  			<a href="https://itunes.apple.com/us/app/ga.today/id936871747?ls=1&mt=8" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/us/app/ga.today/id936871747?ls=1&mt=8'); return false;" ><img width="100%" src="http://i.imgur.com/loSiRSc.png" alt="Get the iOS Google Analytics widget GA.TODAY now!" /></a> 	
	  		</div>
		</div>	
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
			<h2>Alerts for <i class="fa fa-slack"></i> Slack</h2>
			<p>Check out <a href="http://alerts.ryanbrink.com" target="_blank" alt="Google Analytics for Slack">my latest side project</a>, which puts Google Analytics <strong>alerts</strong> and <strong>summaries</strong> right in your Slack channel.</p>
		</div>	
		<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
			<h4>Connect with GA.TODAY</h4>
			<p>You can get updates from GA.TODAY directly in your favorite social network:</p>
		</div>
	  	<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">  	
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="http://twitter.com/ga_today"><i class="fa fa-twitter fa-3x"></i></a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="https://plus.google.com/u/1/108461723449622084577"><i class="fa fa-google-plus fa-3x"></i></a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="https://www.facebook.com/pages/Gatoday/734847513271784"><i class="fa fa-facebook fa-3x"></i></a>
			</div>
		</div>	
		<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-justify">
			<h4>Comments? Questions?</h4>		
			<p>Fill out the form below if you have any questions, comments or concerns:</p>		
			<input type="hidden" id="odamae-use-css" value="false">
			<script type="text/javascript" src="https://odamae.io/form/js/light.js"></script>
			<form id="odamae-contact-form" method="post" style="display: none">
			    <div class="odamae-row">
			    	<div class="form-group">
						<input type="text" class="odamae-input form-control" name="name" id="name" value="" placeholder="Name" />
					</div>
					<div class="form-group">
						<input type="text" class="odamae-input form-control" name="contact" id="contact" value="" placeholder="Email" />
					</div>
					<div class="form-group">
						<textarea class="odamae-textarea form-control" name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
					</div>
			    </div>
			    <div class="odamae-row visual-captcha"></div>
			    <div class="odamae-row actions">
			    	<input type="hidden" id="contact_source" value="bio">
					<input type="submit" class="odamae-button odamae-submit btn btn-default btn-lg" value="Send me a message!" onclick="odamaeSubmit(this)" data-apikey="odamae.io_f4bcf43aa3f71929b218829f64f01bf0_957d" />
			    </div>
			</form>
	    </div>
    </article>
    
</div>
<div class="visible-xs visible-sm">
	<img src="http://i.imgur.com/JXsHXX1.jpg" style="display:none;" />
	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><img src="http://i.imgur.com/jnBGqdf.jpg" width="100%" style="min- alt="The first and only Google Analytics widget for iOS"></div>
	    <div class="item"><img src="http://i.imgur.com/bu8Dqaq.jpg" width="100%" style="min- alt="The first and only Google Analytics widget for iOS"></div>
	    <div class="item"><img src="http://i.imgur.com/K0QJJaN.jpg" width="100%" style="min- alt="The first and only Google Analytics widget for iOS"></div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
	</div>   
	<div class="navbar navbar-inverse navbar-fixed-top" style="display:none;">
	  {{> menu }}
	</div>
	  <article class="{{post_class}}" id="main-content">  
	  	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
	  		<h1>Google Analytics in an iOS today widget</h1>
	  		<h3>Try free, or go Pro for $1.99</h3>  	
	  		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
	  			<a href="https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8'); return false;" ><img width="100%" src="http://i.imgur.com/yVzo6tt.png" alt="Get the iOS Google Analytics widget GA.TODAY now!" /></a>
	  		</div>
	  		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
	  			<a href="https://itunes.apple.com/us/app/ga.today/id936871747?ls=1&mt=8" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/us/app/ga.today/id936871747?ls=1&mt=8'); return false;" ><img width="100%" src="http://i.imgur.com/loSiRSc.png" alt="Get the iOS Google Analytics widget GA.TODAY now!" /></a> 	
	  		</div>
		</div>		
		
		<div class="col-xs-6 col-xs-offset-4 left" style="margin-top:15px;">
			<div class="col-md-3">
		    	<div class="fb-like" data-href="http://www.ryanbrink.com{{url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
			<div class="col-md-2">
				<div class="g-plusone" data-size="medium"></div>
			</div>
			<div class="col-md-2">
		    	<a href="https://twitter.com/share" class="twitter-share-button" data-via="ry_brink">Tweet</a>
		    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>    	
		</div>
			
	  	
		<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-justify">
			<h3  class="centered">Instant Access</h3>		
			<p>Finally you can access key Google Analytics metrics without unlocking your phone and opening an App: get it all in an iOS widget for your today screen! GA.TODAY is the fastest and easiest way to get a brief overview of your website or mobile app's performance.</p>
			<h3  class="centered">Why I Built GA.TODAY</h3>
			<p>Basically, I use Google Analytics. A lot. As soon as I had more than a few sites and apps I was tracking I began to be frustrated by the fact that there was no easy way to view high-level metrics of multiple views quickly. GA.TODAY lets me view–with just one swipe–a ton of information about all the views I'm tracking.
			<h3  class="centered">Realtime Data</h3>
			<p>GA.TODAY automatically shows the number of currently active users for your site or app, but you can configure your view to show active users, conversions, conversion rate or page views.
			<h3  class="centered">Daily, weekly and monthly metrics</h3>	
			<p>GA.TODAY lets you configure which two metrics you care most about on a per-view basis. Currently, GA.TODAY supports the following Google Analytics metrics:</p>	
			<ul>
				<li>Users</li>
				<li>New Users</li>
				<li>Sessions</li>
				<li>Page Views</li>
				<li>Conversions</li>
				<li>Conversion Rate</li>
			</ul>
			<p>	
			For each metric enabled on each view you have instant access to daily, weekly and monthly totals as well as hour-by-hour and day-by-day graphs for the last month. You can also select any point on the graph to compare that day or hour's performance against the previous period. 	
			</p>
			<p>I'm working on adding more metrics, configuration options and visualizations to make GA.TODAY even more useful for all you analytics gurus.</p>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
			<h2>Looking for desktop?</h2>
			<p>Get GA.TODAY for your OS X desktop for $1.99</p>
	  		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
	  			<a href="https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8" target="_blank" onclick="trackOutboundLink('https://itunes.apple.com/us/app/ga.today/id954186400?ls=1&mt=8'); return false;" ><img width="100%" src="http://i.imgur.com/yVzo6tt.png" alt="Get the iOS Google Analytics widget GA.TODAY now!" /></a>
	  		</div>
	  		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">
				<h2>Alerts for <i class="fa fa-slack"></i> Slack</h2>
				<p>Check out <a href="http://alerts.ryanbrink.com" target="_blank" alt="Google Analytics for Slack">my latest side project</a>, which puts Google Analytics <strong>alerts</strong> and <strong>summaries</strong> right in your Slack channel.</p>
			</div>		  		
		</div>	
		<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
			<h4 class="centered">Connect with GA.TODAY</h4>
			<p>You can get updates from GA.TODAY directly in your favorite social network:</p>
		</div>
	  	<div class=" col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 centered">  	
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="http://twitter.com/ga_today"><i class="fa fa-twitter fa-3x"></i></a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="https://plus.google.com/u/1/108461723449622084577"><i class="fa fa-google-plus fa-3x"></i></a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="https://www.facebook.com/pages/Gatoday/734847513271784"><i class="fa fa-facebook fa-3x"></i></a>
			</div>
		</div>			
    </article>
</div>    