{{!< ga_today_template}}
<img src="http://i.imgur.com/9vVwz4k.jpg" width="100%" alt="The first and only Google Analytics widget for iOS"> 
  <article class="{{post_class}}">
  	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 centered">
  		<h1>Google Analytics in an iOS today widget!</h1>
  		<h3>Coming Soon.</h3>
  	</div>	
	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-justify">
		<h4>Instant Access</h4>		
		<p>Finally you can access key Google Analytics metrics without unlocking your phone and opening an App: get it all in an iOS widget for your today screen! GA.TODAY is the fastest and easiest way to get a brief overview of your website or mobile app's performance.</p>
		<h4>Why I Built GA.TODAY</h4>
		<p>Basically, I use Google Analytics. A lot. And as soon as I had more than a few sites and apps I was tracking I began to be frustrated by the fact that there was no easy way to view high-level metrics of multiple views quickly. GA.TODAY lets me view–with just one swipe–the following metrics for all my Google Analytics properties:		
		<ul>
		<li>Currently active users</li>
		<li>Total visits today</li>
		<li>Total views today</li>
		<li>Total users today</li>
		<li>Total sessions today</li>
		<li>Conversion rate today</li>
		<li>Total conversions today</li>
		</ul>
		</p>
		<p>I'm working on adding more metrics, configuration options and visualizations to make GA.TODAY even more useful for all you analytics gurus.</p>
	</div>
	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<h4>Connect with GA.TODAY</h4>
		You can get updates from GA.TODAY directly in your favorite social network:
	</div>
  	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 centered">  	
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<a href="http://twitter.com/ga_today"><i class="fa fa-twitter fa-3x"></i></a>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<a href="https://plus.google.com/u/1/108461723449622084577"><i class="fa fa-google-plus fa-3x"></i></a>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<a href="https://www.facebook.com/pages/Gatoday/734847513271784"><i class="fa fa-facebook fa-3x"></i></a>
		</div>
	</div>	
	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-justify">
		<h4>Beta Access</h4>		
		<p>You can also sign up for access to pre-release versions of GA.TODAY before it hits the App store later this month by submitting this form:</p>		
		<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1129234.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>
    </div>
    <!-- Add disqus comments here -->
    </article>