<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">
  {{> head}}
  <body>
    {{> header}}   
	        <div class="row">
	          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
	            {{{body}}}
	          </div>
	        </div>	   
  <div id="foot">
    {{> footer}}
  </div>
  {{ghost_foot}}
  </body>
</html>
