{{!< habitat_template}}
<img src="http://i.imgur.com/8wngIK3.jpg" width="100%" alt="Home automation for products you already own" style="border-bottom: 1px solid #444444;"> 
  <article class="{{post_class}}">
  	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 centered">
  		<h1>Home automation for products you already own</h1>
  		<h4>Back us on <a href="https://www.kickstarter.com/projects/652024705/habitat-home-automation-for-products-you-already-o" target="_blank" onclick="trackOutboundLink('https://www.kickstarter.com/projects/652024705/habitat-home-automation-for-products-you-already-o'); return false;" >Kickstarter</a>.</h4>  		
  	</div>	
	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-justify">
		<h3>My Involvement</h4>
		<p>A couple of friends and I decided we wanted to build something, so we spent a few weeks brainstorming. Those weeks turned into months and eventually into Habitat, which was launched on Kickstarter December 4, 2014. I am a <strong>co-founder</strong> of the company and one of the <strong>lead software engineers</strong> working to change the way we interact with our homes.</p>
		<hr />
		<h4>Our Solution</h4>
		<p>Habitat is a smart home automation platform that takes everyday items in your home and connects them to the Internet and your mobile devices. At Habitat we believe that home automation should be simple, secure, and easy to install. You should not have to cut wires, climb ladders, or spend days on complex configuration. Habitat makes home automation affordable, useful and enjoyable for everyone.
</p><p>
Today we are offering products that enable this experience. We're bringing the Internet of Things to a home near you.</p>
<p>Learn more at <a href="http://gohabitat.com">gohabitat.com</a></p>
	
	</div>
	
	<div class=" col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-justify">
		<h4>Comments? Questions?</h4>		
		<p>Fill out the form below if you have any questions, comments or concerns:</p>		
		<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1129234.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>
    </div>
    <!-- Add disqus comments here -->
    </article>