<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

	<style>
	iframe {
		border: none;
	}
	body {
		margin: 0;
		padding: 0;
	}
	.btn-flat {
	    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-image:none;
	    border: 0;
	}
	#content {
		overflow: scroll !important;
		position: relative;
		padding-bottom: 56%;
		height: 0;
		-webkit-overflow-scrolling:touch !important;
	}

	#content iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	#navigation {
		text-align: center;
		padding-top:5px;
		width: 240px;
		float: left;
		height: 100%;
		border-right: 1px solid black;
		background-color: #8dc73f;		
	}
	#navigation button {
		font-family: 'Oswald';
		text-transform: uppercase;
		margin: 3%;
		width: 94%;
		text-align: left;
	}
	#navigation button span {
		margin-right: 10px;
	}
	</style>
</head>
<body>
	<div id="navigation">	
		<img src="http://i.imgur.com/JoX8Isi.png" style="width: 100px;margin-top:25px;margin-bottom:25px;"></img>	

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=15" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-plug"></span>   Connection Info</button></a>

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=23" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-users"></span>   Small Group Signup</button></a>	

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=20" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-male"></span>   Men's Weekend Signup</button></a>							

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=18" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-hand-paper-o"></span>   A1S1 Signup</button></a>			

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=17" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-tint"></span>   Baptism Signup</button></a>			

		<a href="http://hcfcornwall.ca" target="main_content"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-home"></span>   Homepage</button></a>				
	</div>
	<div id="content">
		<iframe seamless="seamless" src="http://hcfcornwall.ca" name="main_content"></iframe>
	</div>
</body>
</html>