<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

	<style>
	iframe {
		border: none;
	}
	body {
		color: white;
		margin: 0;
		padding: 0;
	}
	.btn-flat {
	    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    background-image:none;
	    border: 0;
	}
	#content {
		overflow: scroll !important;
		position: relative;
		padding-bottom: 56%;
		height: 0;
		-webkit-overflow-scrolling:touch !important;
	}

	#content iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	#navigation {
		padding-top: 5px !important;
		text-align: center;
		padding-top:5px;
		width: 100%;
		float: left;
		height: 100%;
		background-color: #8dc73f;		
	}
	#navigation button {		
		font-family: 'Oswald';
		text-transform: uppercase;
		text-align: left;
		margin: 5px;
		width: 280px;
	}
	.btn-lg {
	    padding: 18px 28px;
	    font-size: 22px;
	    line-height: normal;
	    -webkit-border-radius: 8px
	       -moz-border-radius: 8px;
	            border-radius: 8px;
    }
	#navigation button span {
		margin-right: 10px;
	}
	.logo {
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	</style>
</head>
<body>
	<img class="logo" src="http://i.imgur.com/JoX8Isi.png" style="width: 100px"></img>
	<div id="navigation">	
		<p class="lead" style="font-size: 100px;font-weight: 100">Welcome</p>
		
		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=15"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-plug"></span>   Connection Info</button></a>
		<br />

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=28"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-cutlery"></span>   Meals on Wheels</button></a>	
		<br />

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=23"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-users"></span>   Small Group Signup</button></a>	
		<br />

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=18"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-hand-paper-o"></span>   A1S1 Signup</button></a>	
		<br />

		<a href="https://hcfcornwall.ccbchurch.com/form_response.php?id=17"><button class="btn btn-default btn-flat btn-lg"><span class="fa fa-tint"></span>   Baptism Signup</button></a>	
	</div>
</body>
</html>