{{!< default}}
<main>
  <article class="{{post_class}}" style="margin-top: 25px;">
    {{#post}}
    <header>
    </header>
    <section class="posts">
      {{content}}              
    </section>    
    {{/post}}
    <!-- Add disqus comments here -->
    </article>
</main>