{{!< default-post}}
<main style="margin-top: 25px;">
  <article class="{{post_class}}">
    {{#post}}
    <header>
    </header>
    <section class="posts">
      {{content}}              
    </section>    
    {{/post}}
    <!-- Add disqus comments here -->
    </article>
</main>