<footer>
	
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-1172212429311946"
	     data-ad-slot="3090011918"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<br />
    <a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
    <div class="inner">
         <section class="copyright">All content copyright by Ryan Brink &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Published with <a class="icon-ghost" href="https://ghost.org">Ghost</a> and hosted on <a href="http://heroku.com">Heroku</a></section>
    </div>
</footer>

{{> analytics}}