<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{@blog.title}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/bio">Bio</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="http://twitter.com/ry_brink"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="http://github.com/ryno2019"><i class="fa fa-github-alt fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/ryno2019"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="http://ca.linkedin.com/in/ryanbrink/"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
        <li><a href="https://plus.google.com/u/1/117932431467055489531"><i class="fa fa-google-plus fa-lg"></i></a></li>        
      </ul>
    </div>
  </div>
</div>