  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ryan Brink</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">        
        <li><a href="/ga-today"><strong>GA.TODAY</strong></a></li>
        <li><a href="/bio/">Bio</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/books/">Books</a></li>
        <li><a href="/gear/">Gear</a></li>
        <li><a href="http://twitter.com/ry_brink" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="http://github.com/ryanbrink" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/ryno2019" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="http://ca.linkedin.com/in/ryanbrink/" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
        <li><a href="http://google.com/+RyanBrink2019" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>        
      </ul>
    </div>
  </div>
